@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Simple Blog</title>
    @Styles.Render("~/styles")
</head>
<body>
    <div>
        <header>
            <h1><a href="@Url.RouteUrl("home")">Simple blog </a><i class="glyphicon glyphicon-bell"></i></h1>
            @if (User.Identity.IsAuthenticated)
            {
                <p> Welcome Back @User.Identity.Name</p>
                <a href="@Url.RouteUrl("logout")">Logout</a>
                if(User.IsInRole("admin"))
                {
                    <a href="@Url.Action("index", "Posts", new { area = "admin"})">View posts in admin</a> <!-- the reason i put new {area = "admin"} is because the overload requires an object-->
               }
            }
            else
            {
            <a href="@Url.RouteUrl("login")">login</a>
            }
           
        </header>
        @RenderBody()
    
    </div>
    <footer>&copy;@DateTime.UtcNow.Year</footer>
    @Scripts.Render("~/scripts")
    @RenderSection("Scripts", false);
</body>
</html>
